<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Swiftype_Swiftype>
            <version>1.0.0</version>
        </Swiftype_Swiftype>
    </modules>
    <global>
        <helpers>
            <swiftype>
                <class>Swiftype_Swiftype_Helper</class>
            </swiftype>
        </helpers>
        <blocks>
            <swiftype>
                <class>Swiftype_Swiftype_Block</class>
            </swiftype>
            <catalogsearch>
                <rewrite>
                    <autocomplete>Swiftype_Swiftype_Block_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <swiftype>
                <class>Swiftype_Swiftype_Model</class>
                <resourceModel>swiftype_resource</resourceModel>
            </swiftype>
            <swiftype_resource>
                <class>Swiftype_Swiftype_Model_Resource</class>
            </swiftype_resource> 
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Swiftype_Swiftype_Model_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>                   
        </models>
        <resources>
            <swiftype_setup>
                <setup>
                    <module>Swiftype_Swiftype</module>
                </setup>
            </swiftype_setup>
        </resources>    
        <cache>
            <types>
                <swiftype_autocomplete>
                    <label>Swiftype Autocomplete</label>
                    <description>Swiftype Autocomplete Cache</description>
                    <tags>SWIFTYPE_AUTOCOMPLETE</tags>
                </swiftype_autocomplete>
            </types>
        </cache> 
        <events>
            <core_config_data_save_after>
                <observers>
                    <swiftype>
                        <class>swiftype/observer_global</class>
                        <method>clearCatalogsearchResults</method>
                    </swiftype>
                </observers>
            </core_config_data_save_after>
            <core_config_data_save_commit_after>
                <observers>
                    <swiftype_autocomplete>
                        <class>swiftype/observer_global</class>
                        <method>cleanSwiftypeAutocompleteCache</method>
                    </swiftype_autocomplete>
                </observers>
            </core_config_data_save_commit_after>
            <catalog_product_save_commit_after>
                <observers>
                    <swiftype_autocomplete>
                        <class>swiftype/observer_global</class>
                        <method>cleanSwiftypeAutocompleteCache</method>
                    </swiftype_autocomplete>
                </observers>
            </catalog_product_save_commit_after>            
        </events>       
    </global>
    <frontend>
        <events>
            <controller_front_send_response_after>
                <observers>
                    <swiftype_ajax_suggest>
                        <class>swiftype/observer_frontend</class>
                        <method>cacheSwiftypeAutocomplete</method>
                    </swiftype_ajax_suggest>
                </observers>
            </controller_front_send_response_after>                      
        </events>
        <routers>
            <catalogsearch>
                <args>
                    <modules>
                        <swiftype before="Mage_CatalogSearch">Swiftype_Swiftype</swiftype>
                    </modules>
                </args>
            </catalogsearch>
            <swiftype>
                <use>standard</use>
                <args>
                    <module>Swiftype_Swiftype</module>
                    <frontName>swiftype</frontName>
                </args>
            </swiftype>
        </routers>
        <layout>
            <updates>
                <swiftype>
                    <file>swiftype.xml</file>
                </swiftype>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <swiftype>
                        <class>swiftype/observer_adminhtml</class>
                        <method>adminhtmlCatalogProductAttributeEditPrepareForm</method>
                    </swiftype>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
    <default>
        <catalog>
            <search>
                <engine>catalogsearch/fulltext_engine</engine>
                <swiftype_autocomplete>1</swiftype_autocomplete>
                <swiftype_autocomplete_limit>3</swiftype_autocomplete_limit>         
            </search>
        </catalog>
    </default>
</config>